{:paths ["../src"]
 :aliases
 {:scittle
  {:extra-deps
   {io.github.babashka/scittle
    {:git/url "https://github.com/babashka/scittle"
     :git/sha "f3bd6b1dbc8aa99933be2dfdcba47b82b41e07e0"}}}}}
